<?xml version="1.0" encoding="UTF-8" standalone="no" ?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0">  <dict>    <key>NSHumanReadableCopyright</key>    <string>©GHS 2024</string>    <key>CFBundleVersion</key>    <string>3</string>    <key>CFBundleDisplayName</key>    <string>4D Progress GHS</string>    <key>CFBundleShortVersionString</key>    <string>20.3</string>    <key>CFBundleGetInfoString</key>    <string>20.3</string>    <key>CFBundleLongVersionString</key>    <string>build 3 (4D 20.3)</string>    <key>CFBundleName</key>    <string>4D Progress GHS</string>  </dict></plist>