<?xml version="1.0" encoding="UTF-8" standalone="no" ?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0">  <dict>    <key>NSHumanReadableCopyright</key>    <string>©GHS 2024</string>    <key>CFBundleVersion</key>    <string>1</string>    <key>CFBundleDisplayName</key>    <string>4D Progress</string>    <key>CFBundleShortVersionString</key>    <string>20.2</string>    <key>CFBundleGetInfoString</key>    <string>20.2</string>    <key>CFBundleLongVersionString</key>    <string>build 1 (4D 20.2)</string>    <key>CFBundleName</key>    <string>4D Progress</string>  </dict></plist>